/*.menu{*/
    /*display: -webkit-flex;*/
    /*display: -webkit-inline-flex;*/
    /*display: -ms-inline-flexbox;*/
    /*display: inline-flex;*/
    /*width: 100%;*/
    /*height: 100px;*/
    /*background: rgba(0, 0, 0, 0.7);*/
    /*color: white;*/
    /*padding-top: 10px;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*position: relative;*/
/*}*/
/*.menu1{*/
    /*display: -webkit-flex;*/
    /*display: -webkit-inline-flex;*/
    /*display: -ms-inline-flexbox;*/
    /*display: inline-flex;*/
    /*width: 10%;*/
    /*height: 100px;*/

    /*color: white;*/
    /*padding-top: 10px;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*position: relative;*/
/*}*/
/*.menu a,.menu1 a{*/
    /*text-decoration: none;*/
    /*text-align: right;*/
    /*padding-top: 10px;*/
    /*color: #FFFFFF;*/
/*}*/
/*#menu1{*/
    /*width: 100%;*/
    /*height: 100px;*/

    /*position: relative;*/
/*}*/
/*!*==============================================================*!*/

/*.nav , #touch-menu {}*/
/*.nav a, #touch-menu {*/
    /*font-weight: bold;*/
/*}*/
/*.nav a:hover,#touch-menu:hover{*/
    /*background-color: black;*/
/*}*/
/*#touch-menu ,.menu1{*/
    /*display: none;*/
/*}*/
/*@media (max-width: 768px) {*/
    /*.nav ,.container{display: none}*/
    /*.container{float: none}*/
    /*#touch-menu ,.menu1{*/
        /*display: block;*/
        /*width: 100%;*/
        /*text-align: right;*/
        /*justify-content: right;*/
    /*}*/
/*}*/
.menu{
    width: 100%;
    height: 120px;
    background: rgba(0, 0, 0, 0.7);
    display: -webkit-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-decoration: none;
}
.menu1{
    width: 30%;
    padding-top: 2%;
    text-align: center;
}
.container{
    width: 70%;
    text-align: top;

}
.nav{
    display: -webkit-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: space-around;
    width: 95%;
    padding-bottom: 20px;
    text-decoration: none;

}
.nav li{
    padding-top:40px ;
    display: -webkit-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-decoration: none;
}
.nav li {
    float: right;
    padding-bottom: 20px;
    padding-bottom: 5px;
}
.nav li a ,#touch-menu{
    display:block ;
    text-decoration: none;
    color: white;

}

#touch-menu{
    display: none;
}
@media (max-width: 768px) {
    .nav{display: none}
    #touch-menu{
        display: block;
        width:30%;
        text-align: right;
        padding-top: 25px;
        padding-left: 40%;
    }
    .nav li {
        float: none;
        display: flex;
        -webkit-flex-direction: column; /* Safari */
        flex-direction: column;
        color: white;
    }
    .nav li a{
        background: rgba(0, 0, 0, 0.9);
    }
    .menu1{
        width: 70%;
    }
    .nav li{
        padding-top: 0;
        padding-bottom: 1%;
        width: 90%;
        text-align: center;
        border-left:2px white;
    }
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


#headerBackground1{
    background-image: url("../photo/header.jpg");
    width: 100%;
    height: 700px;
    position: relative;
    color: #FFFFFF;
}

header h1{
    list-style-type: none;
    color: white;
}
.homeMenu {
    color: #FFFFFF;
    text-decoration: underline orange ;
    font-weight: bold;
    opacity: 0;


}
#headerBackground2+div{
     width: 50%;
     display: inline-block;
 }
.headerMenu{
    width: 10%;
    display: inline-block;
    opacity: 0;
    display: none;
}

header h1{
    color: white;
}
.portfolio{
    display: inline-flex;
    width: 100%;
    height: 50%;
    padding-top: 5px;
    justify-content: space-between;
}
.portfolio div{
    display: inline-flex;
    list-style-type: none;
    display: inline-block;
    width: 33%;
    position: relative;
}
.portfolio h1{
    padding-top: 20%;
}
.portfolio img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
}
.desrc{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-align:  center ;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.portfolio div:hover .desrc{
    opacity: 1;
}
.portfolio a{
    text-decoration: none;
}
@media(min-width: 0px) and (max-width: 380px){
    .portfolio{
        -webkit-flex-direction: column; /* Safari */
        flex-direction: column;
    }
    .portfolio div{
        padding-top: 3px;
        padding-bottom: 3px;
        width: 100%;
        height: 100%;
    }
    .portfolio h1{
        padding-top: 15% ;
    }
    .portfolio div:hover .desrc{
        max-width: 100%;
        height: 93%;
        opacity: 1;
        padding-top: 3px;
        margin-top:3px;
        padding-bottom: 5px;
    }
    .desrc{
        height: 98%;
        padding-bottom: 3px;
    }
    #menu1{
        font-size:70%;
        width: 70%;
        padding-left: 10%;
    }
    #headerBackground1{
        background-image: url("../photo/header320x180.jpg");
        width: 100%;
        height:250px;
    }
    .menu{
        width: 100%;
        height: 60px;
    }
    .menu1{
       width: 30%;
        font-size: xx-small;
    }
    .container{
        width: 60%;
    }
    .nav li{
        padding-top: 0;
        padding-bottom: 1%;
        width: 90%;
        text-align: center;
        border-left:2px white;
        font-size: xx-small;
    }
    #touch-menu{
        display: block;
        width:30%;
        text-align: right;
        padding-top: 5%;
        padding-left: 85%;
        font-size: 15px;
    }
    #touch-menu img{
        width: 30px;
        height: 30px;
        padding-right: 2%;
        padding-top: 10px;
        font-size: xx-small;
    }
}
