main table{
    background-image: url("../photo/Fon.png");
    width: 100%;
    height: 200px;
}
img{
    width: 80%;
    height: 100%;
    display: inline-block;
    align-content :center;
    justify-items: center;
    justify-content: center;

}
table {

    width: 100%;
    height: 550px;
}
table + tr{
    height: 50px;
}
table +tr+tr{

    height: 250px;
}
table +tr+tr+tr+tr{
    height: 100px;
}
td {

    align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}
#see_menu{
   border: gray;
   background: orange;
    border-radius: 15px;
    width: 20%;
    height: 40px;

}
.main{
    color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
}
.portfolio2{
    width: 100%;
    height: 300px;
}
.portfolio2 ul,
.portfolio2 li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.portfolio2 li{
    display: inline-flex;
    width: 24.7%;
    position: relative;
}
.portfolio2 img{
    max-width: 100%;
    width: 100%;
    height: 300px;
    display: block;
}
main p {
    width: 100%;
    height: 20px;
}
*{
    font-family: 'Lobster', cursive;
}
.mainButton{
    width: 20%;
    height: 60px;
    text-align: center;
    background: orange;
    border: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0 0 4px #666;
    margin: 20px;
}
#mainButtonMenu{
    color: white;
    align-content: center;
    padding-top: 5px;
    border-radius: 10px;
    background-color: orange;
    text-decoration: none;
    border: 2px white;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #666666;
}
#mainButtonMenu:hover{
    background-image: url("../photo/Fon.png");
}
#mainButtonMenu h1{
    padding-top: 8px;

}