/*.menuDish{*/
    /*display: -webkit-flex;*/
    /*display: -webkit-inline-flex;*/
    /*display: -ms-inline-flexbox;*/
    /*display: inline-flex;*/
    /*width: 50%;*/
    /*height: 100%;*/
    /*flex-wrap: wrap;*/
    /*-webkit-flex-wrap: wrap;*/
    /*text-align: center;*/
    /*justify-content: center;*/
/*}*/
/*.title {*/
    /*display: inline-flex;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-inline-flex;*/
    /*display: -webkit-flex;*/
    /*padding-top: 5%;*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*justify-content: center;*/

    /*color: rgba(0, 0, 0, 5);*/
/*}*/
.menuDish{
    display: flex;
    flex-direction:column ;
    -webkit-flex-direction: column; /* Safari */

    width: 50%;
    height: auto;
    text-align: center;
}
#menu2{
    padding-top: 10px;
    display: -webkit-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    background: rgba(255, 165, 0, 0);
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;



}
.title +div{
    padding-top: 20%;
    padding-bottom: 10%;

    justify-content: center;
    display: inline-flex;
    display: -ms-flexbox;
    display: -webkit-inline-flex;
    display: -webkit-flex;
}
.title ,
.title +div{
    height: 50%;
    width: 100%;

    -webkit-flex-wrap: wrap; /* Safari */

    flex-wrap: wrap;

}
.mainButton{
    display: inline-flex;
    display: -ms-flexbox;
    display: -webkit-inline-flex;
    display: -webkit-flex;
   flex-direction: column;
    width: 20%;
    height: 10%;
    justify-content: center;

}
/*}*/
.mainButtonMenu{
    color: #FFFFFF;
    align-content: center;
    border-radius: 10px;
    text-decoration: none;
    background-color: orange;
    border: 2px white;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #666666;
}
img{
    width:100%;
    height: 100%;
}
.disable{
    display: none;
}
@media (min-width: 430px) and ( max-width: 768px) {
    #headerBackground1 {
        background-image: url("../photo/header768x447.jpg");
        width: 100%;
        height: 447px;
    }
}
@media (max-width: 620px) {
  main +div{
      display: inline-flex;
      display: -ms-flexbox;
      display: -webkit-inline-flex;
      display: -webkit-flex;
      justify-content: center;
      width: 80%;
      text-align: center;
      align-content: center;
  }
    .disable{
        display: block;
    }
    .disable2{
        display: none;
    }

    .menuDish{
        width: 100%;

    }
    #menu2{
        -webkit-flex-direction: column; /* Safari */
        flex-direction: column;
    }
}
@media (max-width: 380px) {
    .menuDish{
        font-size: xx-small;
    }
}